
<% if (success && success.length>0) { %>
<div
  class="alert alert-success alert-dismissible fade show col-6 offset-3 mt-2"
  role="alert"
>
  <strong> <%= success %></strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if (error && error.length>0) { %>
<div
  class="alert alert-danger alert-dismissible fade show col-6 offset-3 mt-2"
  role="alert"
>
  <strong> <%= error %></strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>


