<style>


  /* Custom styles */
  footer {
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 14px 0;
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo img {
    width: 150px; 
    height: 150px ;
    margin-left: 40px;
    align-items: center;
    justify-content: center;

  }
 

  .resources,
  .follow-us,
  .legal {
    flex: 1;
    margin: 12px 0;
  }

  h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #666;
    transition: color 0.3s;
  }

  a:hover {
    color: #333;
  }

 
</style>
<div style="margin-top: 50px;">


<footer >
  <div class="container">
    <div class="resources">
      <h2>Resources</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <div class="follow-us">
      <h2>Follow us</h2>
      <ul>
        <li>
          <a
            href="https://github.com/sbsahane12"
            target="_blank"
            rel="noopener noreferrer"
            >Github</a
          >
        </li>
        <li><a href="/home">Discord</a></li>
      </ul>
    </div>
    <div class="legal">
      <h2>Legal</h2>
      <ul>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/terms">Terms &amp; Conditions</a></li>
      </ul>
    </div>
  </div>
 
  <div class="footer-bottom " style="text-align: center; margin-left: 0%;">
    <span
      >&copy; 2024 CyberCafe.com
      All Rights Reserved.</span
    >
  </div>
</footer>
</div>