<% layout("/layouts/boilerplate") %>

<body>
   
    <main>
        <h1>Privacy Policy</h1>
        <p>Your privacy is important to us. This privacy statement explains the personal data CyberCafe processes, how CyberCafe processes it, and for what purposes.</p>
        <h2>Personal Data We Collect</h2>
        <p>CyberCafe collects data to operate effectively and provide you the best experiences with our services. You provide some of this data directly, such as when you create an account or request a service.</p>
        <h2>How We Use Personal Data</h2>
        <p>CyberCafe uses the data we collect to provide you the services we offer. This includes using data to improve our services and personalize your experiences.</p>
        <h2>How to Access & Control Your Personal Data</h2>
        <p>You can view, edit, or delete your personal data online for many CyberCafe services. You can also make choices about CyberCafe's collection and use of your data.</p>
        <h2>Cookies & Similar Technologies</h2>
        <p>CyberCafe uses cookies to understand how you use our site and to improve your experience. You can control the use of cookies at the individual browser level.</p>
    </main>
</body>

