<% layout("/layouts/boilerplate") %>
<body>
   
    <main>
        <h1>Terms and Conditions</h1>
        <p>Welcome to CyberCafe. By using our services, you are agreeing to these terms. Please read them carefully.</p>
        <h2>Using Our Services</h2>
        <p>You must follow any policies made available to you within the services. Do not misuse our services. For example, do not interfere with our services or try to access them using a method other than the interface and the instructions that we provide.</p>
        <h2>Your Content in Our Services</h2>
        <p>When you upload or otherwise submit content to our services, you give CyberCafe (and those we work with) a worldwide license to use, host, store, reproduce, and create derivative works.</p>
        <h2>Modifying and Terminating Our Services</h2>
        <p>We are constantly changing and improving our services. We may add or remove functionalities or features, and we may suspend or stop a service altogether.</p>
        <h2>Our Warranties and Disclaimers</h2>
        <p>We provide our services using a commercially reasonable level of skill and care. But there are certain things that we do not promise about our services.</p>
    </main>
</body>

